<%= javascript_pack_tag 'application' %>
<div id="react-task-list"></div>
<script>
    import React from 'react';
    import ReactDOM from 'react-dom';
    import TaskList from 'components/TaskList';

    document.addEventListener('DOMContentLoaded', () => {
        ReactDOM.render(
            <TaskList />,
            document.getElementById('react-task-list'),
        );
    });
</script>
